.breaking-changes-view {
  &__maintenance-border {
    background: repeating-linear-gradient(
      45deg,
      var(--color-green),
      var(--color-green) 35px,
      var(--color-yellow) 35px,
      var(--color-yellow) 70px
    );
    padding: var(--size-4-2);
  }

  &__container {
    background-color: var(--background-primary-alt);
    padding: var(--size-4-2);
  }
}
